# Dependencies
node_modules/
**/node_modules/

# Expo / React Native
.expo/
**/.expo/
dist/
**/dist/

# iOS / Android native outputs
ios/Pods/
ios/build/
**/ios/build/
android/.gradle/
android/app/build/
**/android/build/

# Logs
*.log

# APK / binaries
*.apk
*.aab
*.ipa

